@media (max-width: 750px)  {

.main   {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100vh;
    width:100%;
    align-items:center;
}
.input__text    {
    display:flex;
    margin-top:30px;
    width:100%;
    height:100%;
}
.input__area    {
    display:flex;
    width:220px;
    height:100%;
    justify-content: center;
    align-items: center;
}
.btn__encrypt   {
    width:160px;
}
.bnt__decrypt   {
    width:160px;
}
}